<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pengusulan Data Mitra</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link rel="icon" href="assets/favicon.ico" />


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/btnCostum.css" rel="stylesheet">
  <link href="assets/css/pertaminaCore.css" rel="stylesheet">

  <link href="assets/css/inputCostum.css" rel="stylesheet">
  <!-- <link href="assets/css/styleCostum.css" rel="stylesheet"> -->

  <!-- *Toastr Link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">


  <!-- Bootstrap Icon -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">



  <!-- =======================================================
  * Template Name: Green
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/green-free-one-page-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->

  <!-- Toastr -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


  <style>
    .img-responsive {
      max-width: 100%;
      height: auto;
      }

  </style>

  <style>
    /* Tambahkan styling sesuai kebutuhan Anda */
    .hidden {
      display: none;
    }
  </style>

  <style>
    .my-element {

      animation-duration: 0.5s; /* don't forget to set a duration! */
    }
  </style>




  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: #32599C;">
    <div class="container d-flex align-items-center">

      <div class="d-flex">

        <h1 class="logo me-auto">
          <a class="navbar-brand me-3" href="#">
            <img src="assets/img/logo.png" alt="Logo" width="200" height="48" class="d-inline-block align-text-top">
            
          </a>
        </h1>  
        <a href="/" class="fs-3 fw-bold text-white">| SIBER CSMS</a>
      </div>
      
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar ms-auto">
        <ul>
          <li><a class="nav-link scrollto" href="/">Beranda</a></li>
          <li><a class="nav-link scrollto" href="/">Tentang Kami</a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="/"><i class="fa-solid fa-house mx-1"></i>Beranda</a></li>
            <li>Pengusulan Data Mitra</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <style>
      .custom-toast-header {
        background-color: white;
 /* Blue background color */
        color: white; /* Text color */
        border-bottom: 1px solid #ccc; /* Border color */
        padding: 10px; /* Add padding if needed */
      }
    
      .custom-toast-header .custom-avatar {
        width: 20px; /* Adjust the width as needed */
        height: 20px; /* Adjust the height as needed */
        background-color: rgb(45, 118, 196);
        border-radius: 3px; /* Add border-radius for rounded corners if needed */
      }
    
      .custom-toast-body {
        background-color: white;
        border: 1px solid #ccc; /* Add the desired color for the outline */
        padding: 10px; /* Add padding if needed */
      }
    </style>
    
    <% if(notifSuksesHSEUpload) { %>
    <div class="toast fade show ms-auto mx-4 animate__animated animate__fadeIn" role="alert" aria-live="assertive" aria-atomic="true" id="notification-toast">
      <div class="toast-header custom-toast-header animate__animated animate__shakeX">
        <div class="custom-avatar rounded me-2"></div>
        <strong class="me-auto text-dark">Notifikasi-</strong>
        <small class="text-dark"><span id="countdown">6</span> second ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body custom-toast-body animate__animated animate__rubberBand">
        Upload Data HSE Berhasil!
      </div>
    </div>
    <% } %>

    <% if(notifSuksesPSBUpload) { %>
    <div class="toast fade show ms-auto mx-4 animate__animated animate__fadeIn" role="alert" aria-live="assertive" aria-atomic="true" id="notification-toast">
      <div class="toast-header custom-toast-header animate__animated animate__shakeX">
        <div class="custom-avatar rounded me-2"></div>
        <strong class="me-auto text-dark">Notifikasi-</strong>
        <small class="text-dark"><span id="countdown">6</span> second ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body custom-toast-body animate__animated animate__rubberBand">
        Upload Data PSB Berhasil!
      </div>
    </div>
    <% } %>

    <% if(notifSuksesPBUpload) { %>
    <div class="toast fade show ms-auto mx-4 animate__animated animate__fadeIn" role="alert" aria-live="assertive" aria-atomic="true" id="notification-toast">
      <div class="toast-header custom-toast-header animate__animated animate__shakeX">
        <div class="custom-avatar rounded me-2"></div>
        <strong class="me-auto text-dark">Notifikasi-</strong>
        <small class="text-dark"><span id="countdown">6</span> second ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body custom-toast-body animate__animated animate__rubberBand">
        Upload Data PB Berhasil!
      </div>
    </div>
    <% } %>

    <% if(notifSuksesPAUpload) { %>
    <div class="toast fade show ms-auto mx-4 animate__animated animate__fadeIn" role="alert" aria-live="assertive" aria-atomic="true" id="notification-toast">
      <div class="toast-header custom-toast-header animate__animated animate__shakeX">
        <div class="custom-avatar rounded me-2"></div>
        <strong class="me-auto text-dark">Notifikasi-</strong>
        <small class="text-dark"><span id="countdown">6</span> second ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body custom-toast-body animate__animated animate__rubberBand">
        Upload Data PA Berhasil!
      </div>
    </div>
    <% } %>

    <!-- ======= Login Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
          <h2>PENGUSULAN DATA MITRA</h2>
        </div>


        <div class="col-lg-5 mt-5 mb-5 mt-lg-0 d-flex align-items-stretch php-email-form">
          <!-- <form action="#" method="post" role="form" class="php-email-form"> 
          </form> -->
          <div class="mx-auto">
            <h3>Tahapan</h3>
            <hr>
            
            <div class="row">
              <div class="d-flex mt-3">
                <a href="#scrollHSE">
                  <div class="text-center mx-1"><button class="btn btn-sm btn-green" id="hsePlanButton" type="button">HSE Plan</button></div>
                </a>

                <a href="#scrollPSB">
                  <div class="text-center mx-2"><button class="btn btn-sm btn-green" id="psbButton" type="button">PSB</button></div>
                </a>

                <a href="#scrollPB">
                  <div class="text-center mx-2"><button class="btn btn-sm btn-green" id="pbButton" type="button">PB</button></div>
                </a>

                <a href="#scrollPA">
                  <div class="text-center mx-2"><button class="btn btn-sm btn-green" id="paButton" type="button">PA</button></div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="scrollHSE"></div>
        <div id="scrollPSB"></div>
        <div id="scrollPB"></div>
        <div id="scrollPA"></div>


        <!-- form Usulan HSE -->
        <div class="col-lg-7 mt-5 pt-5 mt-lg-0 mx-auto d-flex align-items-stretch" >
          <form action="/post-data-hse" id="hsePlanForm" href="" method="POST" class="php-email-form hidden" enctype="multipart/form-data">
            <h3>Data Usulan HSE PLAN</h3>
            <hr>

            <div class="row">

              <style>

                /* Custom Tooltip Style */
                .tooltip-inner {
                  background-color: #19314a; /* Ganti warna latar belakang tooltip sesuai keinginan Anda */
                  color: #ffffff; /* Ganti warna teks tooltip sesuai keinginan Anda */
                  border: 1px solid #19314a; /* Ganti warna border tooltip sesuai keinginan Anda */
                }
              </style>

              <div class="form-group col-md-6">
                <label for="name">Risk Assessment ID</label>
                <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi ID Risk Assessment" type="text" name="risk_assessment_id" class="form-control custom-tooltip" id="risk_assessment_id" required>
              </div>

              <div class="form-group col-md-6 mt-3 mt-md-0">
                <label for="name">Risk Level</label>
                <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Risk Level" type="text" class="form-control custom-tooltip" name="risk_level" id="risk_level" required>
              </div>
            </div>

            <div class="form-group mt-3">
              <label for="name">Nama Pekerjaan</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Nama Pekerjaan" type="text" class="form-control custom-tooltip" name="nama_pekerjaan" id="nama_pekerjaan" required>
            </div>
            
            <div class="form-group mt-3">
              <label for="name">Nama Mitra Kerja</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Nama Mitra Kerja" type="text" class="form-control custom-tooltip" name="nama_mitra" id="nama_mitra" required> 
            </div>

            <div class="form-group mt-3">
              <label for="name">Nomor Handphone / No WA</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data No HP" type="number" class="form-control custom-tooltip" name="no_hp" id="no_hp" required>
            </div>

            <div class="form-group mt-3">
              <label for="name">Alamat E-Mail Mitra</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Email" type="email" class="form-control custom-tooltip" name="alamat_email" id="alamat_email" required>
            </div>

            <div class="form-group mt-3">
              <label for="name">Tanggal Audit</label>
              <input type="date" class="form-control" name="tanggal_audit" id="tanggal_audit" required> 
            </div>

            <div class="form-group mt-3">
              <label for="name">Lokasi Kerja <span class="fw-bold">(SHU/Regional/Divisi/Department)</span></label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Lokasi Kerja" type="text" class="form-control custom-tooltip" name="lokasi_kerja" id="lokasi_kerja" required> 
            </div>






            <!-- <div class="my-3">
              <div class="loading">Tanggal Audit</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div> -->

            <hr>
            <!-- * berkas HSE PLAN -->
            <!-- *BAGIAN INI  SEMENTARA DI PROSES * 
              *   UNTUK 3 DIVISI UNTUK SUBMIT BERKAS BLM DIKERJAKAN.
            
            -->
            <h3>Upload Berkas</h3>

            <div class="form-group mt-3">
              <label for="file1" class="text-capitalize">Berkas - kepemimpinan dan komitmen</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="file2" class="text-capitalize">Berkas - kebijakan HSSE & strategi</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            
             <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - organisasi, tanggung jawab, sumber daya, standar & dokumentasi</label>
              <input type="file" class="form-control" name="files" required> 
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>
           
            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - Manajemen Resiko</label>
              <input type="file" class="form-control" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - Perencanaan & produser</label>
              <input type="file" class="form-control" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>
            
            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - implementasi & pemantauan kinerja</label>
              <input type="file" class="form-control" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - audit dan tinjauan</label>
              <input type="file" class="form-control" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - manajemen K3LL & pencapaian lainnya</label>
              <input type="file" class="form-control" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>


            <div  class="text-center">
              <button type="submit" class="btn-green">Kirim</button>
            </div>
        
          </form>
        </div>

 
        <!-- form Usulan PSB -->
        <div class="col-lg-7 mt-5 mt-lg-0 mx-auto d-flex align-items-stretch">
          <form action="/post-data-psb" id="psbForm" method="POST" class="php-email-form hidden" enctype="multipart/form-data">
            <h3>Data Usulan PSB</h3>
            <hr>

            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Risk Assessment ID</label>
                <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi ID Risk Assessment" type="text" name="risk_assessment_id" class="form-control custom-tooltip" id="risk_assessment_id" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <label for="name">Risk Level</label>
                <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Risk Level" type="text" class="form-control custom-tooltip" name="risk_level" id="risk_level" required>
              </div>
            </div>

            <div class="form-group mt-3">
              <label for="name">Nomor Kontrak</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Nomor Kontrak" type="text" class="form-control custom-tooltip" name="nomor_kontrak" id="nomor_kontrak" required>
            </div>
            
            <div class="form-group mt-3">
              <label for="name">Nama Pekerjaan</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Nama Pekerjaan" type="text" class="form-control custom-tooltip" name="nama_pekerjaan" id="nama_pekerjaan" required> 
            </div>

            <div class="form-group mt-3">
              <label for="name">Nama Kontraktor</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Nama Kontraktor" type="text" class="form-control custom-tooltip" name="nama_kontraktor" id="nama_kontraktor" required> 
            </div>

            <div class="form-group mt-3">
              <label for="name">Nomor Handphone / No WA</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data No HP" type="number" class="form-control custom-tooltip" name="no_hp" id="no_hp" required>
            </div>

            <div class="form-group mt-3">
              <label for="name">Alamat E-Mail Mitra</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Email" type="email" class="form-control custom-tooltip" name="alamat_email" id="alamat_email" required>
            </div>

            <div class="form-group mt-3">
              <label for="name">Tanggal Penilaian</label>
              <input type="date" class="form-control" name="tanggal_penilaian" id="tanggal_penilaian" required>
            </div>


            <!-- <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Pilih Fungsi yang Dituju</label>
              <select class="form-select" name="kategori_pb" id="inputGroupSelect02">
                <option selected>Pilih Fungsi</option>
                <option value="PB1">PB 1</option>
                <option value="PB2">PB 2</option>
                <option value="PB3">PB 3</option>
                <option value="PB4">PB 4</option>
              </select>
              <small class="form-text text-muted d-block mt-2">*) Pilih fungsi yang sesuai dengan berkas</small>
            </div> -->

            <style>
              /* Add this CSS to your stylesheet or in the head of your HTML document */
              .radio-group {
                display: flex;
                justify-content: space-between;
              }

              .radio-container {
                display: flex;
                align-items: center;
                cursor: pointer;
              }

              .radio-container input {
                opacity: 0;
                cursor: pointer;
                margin-right: 5px; /* Adjust the margin to your preference */
              }

              .checkmark {
                height: 20px;
                width: 20px;
                background-color: #eee;
                border-radius: 50%;
                margin-right: 5px; /* Adjust the margin to your preference */
              }

              .radio-container:hover .checkmark {
                background-color: #ccc;
              }

              .radio-container input:checked + .checkmark {
                background-color: #4CAF50;
              }

              .radio-container input:checked + .checkmark:after {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #fff;
              }
            </style>
            

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Pilih Fungsi yang Dituju</label>
              <div class="radio-group" style="font-size: 12px;">
                 <div class="row">
                    <% fungsi_pertamina.forEach(fungsi => { %>
                       <label class="radio-container">
                          <input type="radio" name="fungsi_dituju2" value="<%= fungsi.id_fungsi %>" required>
                          <span class="checkmark"></span> <%= fungsi.nama_fungsi %>
                       </label>
                    <% }); %>
                 </div>
              </div>
              <small class="form-text text-muted d-block mt-2">*) Pilih fungsi yang sesuai dengan berkas</small>
           </div>
          
            <hr>

            <h3>Upload Berkas PSB</h3>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - Rencana Kerja</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - Potensi Bahaya</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - Rencana Tanggap Darurat & Prosedur</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - Pre-Job Safety Meeting</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - Orientasi Lapangan</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - Pemecahan masalah-masalah HSSE</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - pelatihan HSSE</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - Komitmen Manajemen Kontraktor</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <!-- <div class="my-3">
              <div class="loading">Tanggal Audit</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div> -->

            <div class="text-center">
              <button type="submit" class="btn-green">Kirim</button>
            </div>
          </form>
        </div>


        <!-- form Usulan PB -->
        <div class="col-lg-7 mt-5 mt-lg-0 mx-auto d-flex align-items-stretch ">
          <form action="/post-data-pb" id="pbForm" method="post" role="form" class="php-email-form hidden" enctype="multipart/form-data">
            <h3>Data Usulan PB</h3>
            <hr>

            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Risk Assessment ID</label>
                <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Risk Assessment ID" type="text" name="risk_assessment_id" class="form-control custom-tooltip" id="name" required>

              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <label for="name">Risk Level</label>
                <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Risk Level" type="text" class="form-control custom-tooltip" name="risk_level" id="email" required>
              </div>
            </div>

            <div class="input-group mb-3 mt-3">
              <label class="input-group-text" for="inputGroupSelect02">PB</label>
              <select class="form-select" name="kategori_pb" id="inputGroupSelect02">
                <option selected>Pilih kategori PB</option>
                <option value="PB1">PB 1</option>
                <option value="PB2">PB 2</option>
                <option value="PB3">PB 3</option>
                <option value="PB4">PB 4</option>
              </select>
            </div>

            <div class="form-group mt-3">
              <label for="name">Nomor Kontrak</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Nomor Kontak" type="text" class="form-control custom-tooltip" name="nomor_kontrak" id="subject" required>
            </div>
            
            <div class="form-group mt-3">
              <label for="name">Nama Kontraktor</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Nama Kontraktor" type="text" class="form-control custom-tooltip" name="nama_kontraktor" id="subject" required>
            </div>

            <div class="form-group mt-3">
              <label for="name">Tanggal Penilaian</label>
              <input type="date" class="form-control custom-tooltip" name="tanggal_penilaian" id="subject" required>
            </div>

            <style>
              /* Add this CSS to your stylesheet or in the head of your HTML document */
              .radio-group {
                display: flex;
                justify-content: space-between;
              }

              .radio-container {
                display: flex;
                align-items: center;
                cursor: pointer;
              }

              .radio-container input {
                opacity: 0;
                cursor: pointer;
                margin-right: 5px; /* Adjust the margin to your preference */
              }

              .checkmark {
                height: 20px;
                width: 20px;
                background-color: #eee;
                border-radius: 50%;
                margin-right: 5px; /* Adjust the margin to your preference */
              }

              .radio-container:hover .checkmark {
                background-color: #ccc;
              }

              .radio-container input:checked + .checkmark {
                background-color: #4CAF50;
              }

              .radio-container input:checked + .checkmark:after {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #fff;
              }
            </style>

            <div class="form-group mt-3">
              <label for="name">Nomor Handphone / No WA</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data No HP" type="number" class="form-control custom-tooltip" name="no_hp" id="no_hp" required>
            </div>

            <div class="form-group mt-3">
              <label for="name">Alamat E-Mail Mitra</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Email" type="email" class="form-control custom-tooltip" name="alamat_email" id="alamat_email" required>
            </div>


            <div class="form-group mt-3">
              <label for="name">Temuan</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Temuan" type="text" class="form-control custom-tooltip" name="temuan" id="temuan" required>
            </div>
            

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Pilih Fungsi yang Dituju</label>
              <div class="radio-group" style="font-size: 12px;">
                 <div class="row">
                    <% fungsi_pertamina.forEach(fungsi => { %>
                       <label class="radio-container">
                          <input type="radio" name="fungsi_dituju2" value="<%= fungsi.id_fungsi %>" required>
                          <span class="checkmark"></span> <%= fungsi.nama_fungsi %>
                       </label>
                    <% }); %>
                 </div>
              </div>
              <small class="form-text text-muted d-block mt-2">*) Pilih fungsi yang sesuai dengan berkas</small>
           </div>


            <hr>

            <!-- * berkas PB -->
            <h3>Upload Berkas PB</h3>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - kepemimpinan dan komitmen</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - kebijakan & sasaran strategi K3LL</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - organisasi, tanggung jawab, sumber daya, standar & dokumentasi </label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - Manajemen Resiko</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - prosedur kerja K3LL </label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - implementasi & pemantauan kinerja K3LL</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - audit dan tinjauan manajemen K3LL</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - manajemen K3LL & pencapaian lainnya</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div  class="text-center">
              <button type="submit" class="btn-green">Kirim</button>
            </div>
          </form>
        </div>


        <!-- form Usulan PA -->
        <div class="col-lg-7 mt-5 mt-lg-0 mx-auto d-flex align-items-stretch">
          <form action="/post-data-pa" id="paForm" method="POST" role="form" class="php-email-form hidden" enctype="multipart/form-data">
            <h3>Data Usulan PA</h3> 
            <hr>

            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Risk Assessment ID</label>
                <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Risk Assessment ID" type="text" name="risk_assessment_id" class="form-control custom-tooltip" id="name" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <label for="name">Risk Level</label>
                <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Risk Level" type="text" class="form-control custom-tooltip" name="risk_level" id="email" required>
              </div>
            </div>

            <div class="form-group mt-3">
              <label for="name">Nomor Kontrak</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Nomor Kontak" type="text" class="form-control custom-tooltip" name="nomor_kontrak" id="subject" required>
            </div>
            
            <div class="form-group mt-3">
              <label for="name">Nama Pekerjaan</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Nama Pekerjaan" type="text" class="form-control custom-tooltip" name="nama_pekerjaan" id="subject" required>
            </div>

            <div class="form-group mt-3">
              <label for="name">Tanggal Penilaian</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Tanggal Penilaian" type="date" class="form-control custom-tooltip" name="tanggal_penilaian" id="subject" required>
            </div>

            <style>
              /* Add this CSS to your stylesheet or in the head of your HTML document */
              .radio-group {
                display: flex;
                justify-content: space-between;
              }

              .radio-container {
                display: flex;
                align-items: center;
                cursor: pointer;
              }

              .radio-container input {
                opacity: 0;
                cursor: pointer;
                margin-right: 5px; /* Adjust the margin to your preference */
              }

              .checkmark {
                height: 20px;
                width: 20px;
                background-color: #eee;
                border-radius: 50%;
                margin-right: 5px; /* Adjust the margin to your preference */
              }

              .radio-container:hover .checkmark {
                background-color: #ccc;
              }

              .radio-container input:checked + .checkmark {
                background-color: #4CAF50;
              }

              .radio-container input:checked + .checkmark:after {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #fff;
              }
            </style>

            <div class="form-group mt-3">
              <label for="name">Nomor Handphone / No WA</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data No HP" type="number" class="form-control custom-tooltip" name="no_hp" id="no_hp" required>
            </div>

            <div class="form-group mt-3">
              <label for="name">Alamat E-Mail Mitra</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Email" type="email" class="form-control custom-tooltip" name="alamat_email" id="alamat_email" required>
            </div>


            <div class="form-group mt-3">
              <label for="name">Temuan</label>
              <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Temuan" type="text" class="form-control custom-tooltip" name="temuan" id="temuan" required>
            </div>

            
            

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Pilih Fungsi yang Dituju</label>
              <div class="radio-group" style="font-size: 12px;">
                 <div class="row">
                    <% fungsi_pertamina.forEach(fungsi => { %>
                       <label class="radio-container">
                          <input type="radio" name="fungsi_dituju2" value="<%= fungsi.id_fungsi %>" required>
                          <span class="checkmark"></span> <%= fungsi.nama_fungsi %>
                       </label>
                    <% }); %>
                 </div>
              </div>
              <small class="form-text text-muted d-block mt-2">*) Pilih fungsi yang sesuai dengan berkas</small>
           </div>

           

            <!-- * berkas PA -->
            <h3>Upload Berkas PA</h3>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - kepemimpinan dan komitmen</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - kebijakan & sasaran strategi K3LL</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - organisasi, tanggung jawab, sumber daya, standar & dokumentasi </label>
              <input type="file" class="form-control" accept=".pdf" name="files" required> 
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - Manajemen Resiko</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - prosedur kerja K3LL </label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - implementasi & pemantauan kinerja K3LL</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - audit dan tinjauan manajemen K3LL</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="form-group mt-3">
              <label for="name" class="text-capitalize">Berkas - manajemen K3LL & pencapaian lainnya</label>
              <input type="file" class="form-control" accept=".pdf" name="files" required>
              <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
            </div>

            <div class="my-3">
              <div class="loading">Tanggal Audit</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>

            <style>
              /* Gaya untuk tombol dinonaktifkan */
              button:disabled {
                background-color: #ccc; /* Warna abu-abu untuk tombol dinonaktifkan */
                cursor: not-allowed; /* Mengubah kursor menjadi not-allowed saat tombol dinonaktifkan */
              }
              </style>


            <div class="text-center"><button class="btn-green" type="submit" >Kirim</button></div>

            
          </form>
          

        </div>

      </div>
    </section><!-- End About Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%-include('partials/footer')%>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- JavaScript to show the modal automatically -->
  <script>
    $(document).ready(function() {
      $('#greetingModal').modal('show');
    });
  </script>

  <!-- JavaScript untuk menangani pengiriman formulir -->
  <script>
    function submitForm() {
      // Pilih formulir berdasarkan ID
      var form = document.getElementById('paForm');
      
      // Periksa jika formulir ditemukan
      if (form) {
        // Submit formulir
        form.submit();
      }
    }
  </script>


  <!-- JavaScript untuk memeriksa input dan mengaktifkan/menonaktifkan tombol "Kirim" -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Ambil referensi tombol "Kirim"
      var kirimButton = document.getElementById('kirimButton');
  
      // Ambil referensi semua input
      var inputs = document.querySelectorAll('#paForm input');
  
      // Tambahkan event listener pada setiap input
      inputs.forEach(function (input) {
        input.addEventListener('input', updateKirimButton);
      });
  
      // Fungsi untuk memeriksa input dan mengaktifkan/menonaktifkan tombol "Kirim"
      function updateKirimButton() {
        // Periksa apakah semua input telah diisi
        var isAllFilled = Array.from(inputs).every(function (input) {
          return input.value.trim() !== '';
        });
  
        // Aktifkan/menonaktifkan tombol "Kirim" berdasarkan kondisi input
        kirimButton.disabled = !isAllFilled;
      }
    });
  </script>
  <script>
    function togglePasswordVisibility() {
    const PINInput = document.getElementById("pin");
    const eyeIcon = document.querySelector(".bi-eye-slash");

      if (PINInput.type === "password") {
        PINInput.type = "text";
        eyeIcon.classList.remove("bi-eye-slash");
        eyeIcon.classList.add("bi-eye");
      } else {
        PINInput.type = "password";
        eyeIcon.classList.remove("bi-eye");
        eyeIcon.classList.add("bi-eye-slash");
      }
    }

  </script>




  
  <script>
    //function untuk HSE Plan.
    $(document).ready(function () {
      // Function to show the HSE Plan form
      function showHSEPlanForm() {
        $("#hsePlanForm").removeClass("hidden");
        $("#hsePlanForm").addClass("animate__animated animate__bounceIn my-element");
        $("#psbForm, #pbForm, #paForm").addClass("hidden");
      }

      // Event listener for the HSE PLAN button
      $("#hsePlanButton").click(function () {
        showHSEPlanForm();
      });

      // ... (Add similar code for other buttons if needed)
    });

    //function untuk PSB
    $(document).ready(function (){

      //function utk membuka PSB form.
      function showPSBForm(){
        $("#psbForm").removeClass("hidden");
        $("#psbForm").addClass("animate__animated animate__bounceIn my-element");
        $("#hsePlanForm, #pbForm, #paForm").addClass("hidden");
      }

      //tambah event listener function.
      $("#psbButton").click(function(){
        showPSBForm();
      })
    });

    //function utk PB
    $(document).ready(function (){

      //function utk membuka PSB form.
      function showPBForm(){
        $("#pbForm").removeClass("hidden");
        $("#pbForm").addClass("animate__animated animate__bounceIn my-element");
        $("#psbForm, #hsePlanForm, #paForm").addClass("hidden");
      }

      //tambah event listener function.
      $("#pbButton").click(function(){
        showPBForm();
      })
    });
    
    //function utk PA
    $(document).ready(function (){

      //function utk membuka PSB form.
      function showPAForm(){
        $("#paForm").removeClass("hidden");
        $("#paForm").addClass("animate__animated animate__bounceIn my-element");
        $("#psbForm, #hsePlanForm, #pbForm").addClass("hidden");
      }

      //tambah event listener function.
      $("#paButton").click(function(){
        showPAForm();
      })
    });

  </script>

  <script src="assets/js/notificationToastr.js"></script>

  <script src="assets/js/optionLogin.js"></script>


  <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script> -->
  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <!-- <script src="assets/vendor/php-email-form/validate.js"></script> -->

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script>
    // const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    // const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>

  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('.custom-tooltip'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });
  </script>

  <script>
    // Countdown logic
    var countdown = 5;
    var countdownElement = document.getElementById('countdown');

    function updateCountdown() {
      countdown -= 1;
      countdownElement.textContent = countdown;

      if (countdown <= 0) {
        // Redirect after 5 seconds
        window.location.href = '/form-pengusulan-data-mitra';
      } else {
        // Continue countdown
        setTimeout(updateCountdown, 1000);
      }
    }

    // Start countdown
    setTimeout(updateCountdown, 1000);
  </script>


  <!-- <script>
    document.getElementById('hsePlanLink').addEventListener('click', function(event) {
      // Menghentikan default behavior dari link
      event.preventDefault();
      
      // Menangani scroll ke elemen dengan ID "hsePlanForm" secara manual
      var targetElement = document.getElementById('hsePlanForm');
      targetElement.scrollIntoView({ behavior: 'smooth' });
    });
  </script> -->

  <!-- <script src="assets/js/rssNews.js"></script> -->
</body>

</html>