<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Detail PB</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link rel="icon" href="/assets/favicon.ico" />


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/btnCostum.css" rel="stylesheet">
  <link href="/assets/css/pertaminaCore.css" rel="stylesheet">

  <link href="/assets/css/inputCostum.css" rel="stylesheet">
  <link href="/assets/css/modalCostum.css" rel="stylesheet">
  <!-- <link href="assets/css/styleCostum.css" rel="stylesheet"> -->

  <!-- *Toastr Link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">


  <!-- Bootstrap Icon -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">



  <!-- =======================================================
  * Template Name: Green
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/green-free-one-page-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->

  <!-- Toastr -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


  <style>
    .img-responsive {
      max-width: 100%;
      height: auto;
      }

  </style>

  <style>
    /* Tambahkan styling sesuai kebutuhan Anda */
    .hidden {
      display: none;
    }
  </style>

  <style>
    .my-element {

      animation-duration: 0.5s; /* don't forget to set a duration! */
    }
  </style>

    <style>
        /* Custom Tooltip Style */
        .tooltip-inner {
            background-color: #19314a; /* Ganti warna latar belakang tooltip sesuai keinginan Anda */
            color: #ffffff; /* Ganti warna teks tooltip sesuai keinginan Anda */
            border: 1px solid #19314a; /* Ganti warna border tooltip sesuai keinginan Anda */
        }
  </style>


  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: #32599C;">
    <div class="container d-flex align-items-center">

      <div class="d-flex">

        <h1 class="logo me-auto">
          <a class="navbar-brand me-3" href="#">
            <img src="/assets/img/logo.png" alt="Logo" width="200" height="48" class="d-inline-block align-text-top">
            
          </a>
        </h1>  
        <a href="/" class="fs-3 fw-bold text-white">| SIBER CSMS</a>
      </div>
      
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar ms-auto">
        <ul>
          <li><a class="nav-link scrollto" href="/dashboard-pertamina">Dashboard</a></li>
          <!-- <li><a class="nav-link scrollto" href="#berita">Data</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="#topik">Topik Utama</a></li> -->
          <!-- <li><a class="nav-link scrollto " href="#creator">Creator</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
          <li class="dropdown"><a href="#"><span>Data</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a  href="/dashboard-pertamina">Data Mitra</a></li>
              <!-- <li><a href="#creator">Creator</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li> -->
            </ul>
          </li>

          <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Log Out</a></li>
              <!-- <li><a href="#creator">Creator</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li> -->
            </ul>
          </li>
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
          <!-- <li><a class="getstarted scrollto" data-bs-toggle="modal" data-bs-target="#exampleModal" href="">Log Out</a></li> -->
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>


  <!-- End Header -->

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="/"><i class="fa-solid fa-house mx-1"></i>Beranda</a></li>
            <li>Pengusulan Data Mitra</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <style>
      .custom-toast-header {
        background-color: white;
 /* Blue background color */
        color: white; /* Text color */
        border-bottom: 1px solid #ccc; /* Border color */
        padding: 10px; /* Add padding if needed */
      }
    
      .custom-toast-header .custom-avatar {
        width: 20px; /* Adjust the width as needed */
        height: 20px; /* Adjust the height as needed */
        background-color: rgb(45, 118, 196);
        border-radius: 3px; /* Add border-radius for rounded corners if needed */
      }
    
      .custom-toast-body {
        background-color: white;
        border: 1px solid #ccc; /* Add the desired color for the outline */
        padding: 10px; /* Add padding if needed */
      }
    </style>
    
    <div class="toast fade show ms-auto mx-4 animate__animated animate__fadeIn" role="alert" aria-live="assertive" aria-atomic="true" id="notification-toast">
      <div class="toast-header custom-toast-header animate__animated animate__shakeX">
        <div class="custom-avatar rounded me-2"></div>
        <strong class="me-auto text-dark">Notifikasi</strong>
        <small class="text-dark"><span id="countdown">60</span> second ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body custom-toast-body animate__animated animate__rubberBand">
        Nomor kontrak dengan nomor <%= nomor_kontrak %>
        <% if (status_mitra === "Belum Diproses") { %>
          <strong class="text-warning"><%= status_mitra %></strong>
        <% } else if (status_mitra === "Diterima") { %>
          <strong class="text-success">Lulus</strong>
        <% } else if(status_mitra === "Ditolak") { %>
          <strong class="text-danger">Tidak Lulus</strong>
        <% } %> 
      </div>
    </div>

    <!-- ======= Login Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
          <h2>DETAIL DATA MITRA - PB</h2>
        </div>

        <div class="mb-3">
            <a href="/data/pb-data" class="btn btn-sm btn-success"><i class="fa-solid fa-chevron-left fa-beat-fade"></i> Kembali</a>
            <a href="/data/update-pb/<%= id_pb %>" class="float-end btn btn-sm btn-warning mx-2"><i class="mx-2 fa-solid fa-square-pen fa-beat-fade"></i>Verifikasi Data</a>
        </div>

        <div class="col-lg-12  mx-auto d-flex">
          <form role="form" class="php-email-form"> 
              <h3>Data Mitra</h3>

              <div class="row">
                <div class="form-group col-md-4">
                    <label for="name">Risk Assessment ID</label>
                    <input disabled class="form-control" value="<%= risk_assessment_id %>">
                </div>

                <div class="form-group col-md-4">
                    <label for="name">Risk Level</label>
                    <input type="text"  class="form-control custom-tooltip" value="<%= risk_level %>" disabled>
                </div>
                
                <div class="form-group col-md-4">
                    <!-- Dapatkan tanggal_audit dari server atau sumber data lainnya -->
                    <% const rawDate = tanggal_penilaian; %>

                    <!-- Konversi tanggal menggunakan JavaScript -->
                    <% const formattedDate = new Date(rawDate).toLocaleDateString('id-ID', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }); %>

                    <label for="name">Tanggal Penilaian</label>
                    <!-- <span class="form-control" id="tanggal_audit" disabled><%= tanggal_penilaian %></span> -->
                    <input type="text" class="form-control" id="tanggal_audit" value="<%= formattedDate  %>" disabled> 
                    <!-- <p id="tanggal_audit"><%= tanggal_penilaian %></p> --> 
                </div>
                
              </div>
              <div class="row">
                <div class="form-group col-md-4">
                    <label for="name">Nama Kontraktor</label>
                    <input type="text" class="form-control" value="<%= nama_kontraktor %>" disabled>
                </div>

                <div class="form-group col-md-4">
                  <label for="name">Nomor Kontrak</label>
                  <input type="text" class="form-control" value="<%= nomor_kontrak %>" disabled>
                </div>

                <div class="form-group col-md-4">
                  <label for="name">Fungsi Dituju</label>
                
                  <% if (fungsi_dituju2 === 1) { %>
                    <input type="text" class="form-control" value="ICT" disabled>
                  <% } else if (fungsi_dituju2 === 2) { %>
                    <input type="text" class="form-control" value="WIWS" disabled>
                  <% } else if (fungsi_dituju2 === 3) { %>
                    <input type="text" class="form-control" value="PE" disabled>
                  <% } else if (fungsi_dituju2 === 4) { %>
                    <input type="text" class="form-control" value="RAM" disabled>
                  <% } else if (fungsi_dituju2 === 5) { %>
                    <input type="text" class="form-control" value="HSSE" disabled>
                  <% } else if (fungsi_dituju2 === 6) { %>
                    <input type="text" class="form-control" value="Produksi" disabled>
                  <% } else if (fungsi_dituju2 === 7) { %>
                    <input type="text" class="form-control" value="SCM" disabled>
                  <% } else { %>
                    <input type="text" class="form-control" value="Kosong" disabled>
                  <% } %>
                </div>

              </div>

              <hr>

              <h3>Kontak Mitra</h3>
              <div class="row d-flex">
                <div class="form-group col-md-5">
                  <label for="name">No Handphone/WA</label>
                  <input type="text" class="form-control" value="<%= no_hp %>" disabled> 
                </div>
                
                <div class="form-group col-md-5">
                  <label for="name">Alamat Email</label>
                  <input type="text" class="form-control" value="<%= alamat_email %>" disabled> 
                </div>
              </div>  


                <hr>
                <h3 class="mt-3">Kelengkapan Berkas</h3>
                
                <div class="form-group col-lg-6 mt-3">
                    <label for="file1" class="text-capitalize">Berkas - kepemimpinan dan komitmen</label>
                    <input type="text" class="form-control" accept=".pdf" name="files" value="<%= files.file1 %>" disabled>
                    <% if (files.file1) { %>
                      <a href="uploads/<%= files.file1 %>"  target="_blank"><i class="fa-solid fa-eye fa-beat-fade mx-1"></i>Lihat Berkas</a>
                      <a href="uploads/<%= files.file1 %>" download target="_blank">|<i class="fa-solid fa-file-arrow-down fa-beat-fade mx-1"></i>Download Berkas</a>
                    <% } else { %>
                        <p>Tidak Ada Berkas</p>
                    <% } %>
                  <hr>
                </div>
                
    
                <div class="form-group col-lg-6 mt-3">
                    <label for="file2" class="text-capitalize">Berkas - kebijakan HSSE & strategi</label>
                    <input type="text" class="form-control" accept=".pdf" name="files" value="<%= files.file2 %>" disabled>
                    <% if (files.file2) { %>
                      <a href="uploads/<%= files.file2 %>" target="_blank"><i class="fa-solid fa-eye fa-beat-fade mx-1"></i>Lihat Berkas</a>
                      <a href="uploads/<%= files.file2 %>" download target="_blank">|<i class="fa-solid fa-file-arrow-down fa-beat-fade mx-1"></i>Download Berkas</a>
                    <% } else { %>
                        <p>Tidak Ada Berkas</p>
                    <% } %>
                </div>

                <div class="form-group col-lg-6 mt-3">
                    <label for="file3" class="text-capitalize">Berkas - organisasi, tanggung jawab, sumber daya, standar & dokumentasi</label>
                    <input type="text" class="form-control" accept=".pdf" name="files" value="<%= files.file3 %>" disabled>
                    <% if (files.file3) { %>
                      <a href="uploads/<%= files.file3 %>" target="_blank"><i class="fa-solid fa-eye fa-beat-fade mx-1"></i>Lihat Berkas</a>
                      <a href="uploads/<%= files.file3 %>" download target="_blank">|<i class="fa-solid fa-file-arrow-down fa-beat-fade mx-1"></i>Download Berkas</a>
                    <% } else { %>
                        <p>Tidak Ada Berkas</p>
                    <% } %>
                </div>
    
                <div class="form-group col-lg-6 mt-3">
                    <label for="file4" class="text-capitalize">Berkas - Manajemen Resiko</label>
                    <input type="text" class="form-control" accept=".pdf" name="files" value="<%= files.file4 %>" disabled>
                    <% if (files.file4) { %>
                      <a href="uploads/<%= files.file4 %>" target="_blank"><i class="fa-solid fa-eye fa-beat-fade mx-1"></i>Lihat Berkas</a>
                      <a href="uploads/<%= files.file4 %>" download target="_blank">|<i class="fa-solid fa-file-arrow-down fa-beat-fade mx-1"></i>Download Berkas</a>
                    <% } else { %>
                        <p>Tidak Ada Berkas</p>
                    <% } %>
                </div>

                <div class="form-group col-lg-6 mt-3">
                    <label for="file5" class="text-capitalize">Berkas - Perencanaan & produser</label>
                    <input type="text" class="form-control" accept=".pdf" name="files" value="<%= files.file5 %>" disabled>  
                    <% if (files.file5) { %>
                      <a href="uploads/<%= files.file5 %>" target="_blank"><i class="fa-solid fa-eye fa-beat-fade mx-1"></i>Lihat Berkas</a>
                      <a href="uploads/<%= files.file5 %>" download target="_blank">|<i class="fa-solid fa-file-arrow-down fa-beat-fade mx-1"></i>Download Berkas</a>
                    <% } else { %>
                        <p>Tidak Ada Berkas</p>
                    <% } %>  
                </div>
    
                <div class="form-group col-lg-6 mt-3">
                    <label for="file6" class="text-capitalize">Berkas - implementasi & pemantauan kinerja</label>
                    <input type="text" class="form-control" accept=".pdf" name="files" value="<%= files.file6 %>" disabled>
                    <% if (files.file6) { %>
                      <a href="uploads/<%= files.file6 %>" target="_blank"><i class="fa-solid fa-eye fa-beat-fade mx-1"></i>Lihat Berkas</a>
                      <a href="uploads/<%= files.file6 %>" download target="_blank">|<i class="fa-solid fa-file-arrow-down fa-beat-fade mx-1"></i>Download Berkas</a>
                    <% } else { %>
                        <p>Tidak Ada Berkas</p>
                    <% } %>  
                </div>

                <div class="form-group col-lg-6 mt-3">
                    <label for="file7" class="text-capitalize">Berkas - audit dan tinjauan</label>
                    <input type="text" class="form-control" accept=".pdf" name="files" value="<%= files.file7 %>" disabled>
                    <% if (files.file7) { %>
                      <a href="uploads/<%= files.file7 %>" target="_blank"><i class="fa-solid fa-eye fa-beat-fade mx-1"></i>Lihat Berkas</a>
                      <a href="uploads/<%= files.file7 %>" download target="_blank">|<i class="fa-solid fa-file-arrow-down fa-beat-fade mx-1"></i>Download Berkas</a>
                    <% } else { %>
                        <p>Tidak Ada Berkas</p> 
                    <% } %>  
                </div>
    
                <div class="form-group col-lg-6 mt-3">
                    <label for="file8" class="text-capitalize">Berkas - manajemen K3LL & pencapaian lainnya</label>
                    <input type="text" class="form-control" accept=".pdf" name="files" value="<%= files.file8 %>" disabled> 

                    <% if (files.file8) { %>
                      <a href="uploads/<%= files.file8 %>" target="_blank"><i class="fa-solid fa-eye fa-beat-fade mx-1"></i>Lihat Berkas</a>
                      <a href="uploads/<%= files.file8 %>" download target="_blank">|<i class="fa-solid fa-file-arrow-down fa-beat-fade mx-1"></i>Download Berkas</a>
                  <% } else { %>
                      <p>Tidak Ada Berkas</p>
                  <% } %>

                </div>

                

                <hr>

                <h3>Verifikasi Mitra</h3>
                <div class="row d-flex">
                  <div class="form-group col-lg-6">
                    <label for="" class="form-label">Progres Mitra : </label>
                    <div class="card">
                      <div class="card-body">
  
  
                        <table class="table table-sm table-hover">
                          <thead class="text-center">
                            <th>HSE</th>
                            <th>
                              <% if (fungsi_dituju2 === 1) { %>
                                ICT
                              <% } else if (fungsi_dituju2 === 2) { %>
                                WIWS
                              <% } else if (fungsi_dituju2 === 3) { %>
                                PE
                              <% } else if (fungsi_dituju2 === 4) { %>
                                RAM
                              <% } else if (fungsi_dituju2 === 5) { %>
                                HSSE
                              <% } else if (fungsi_dituju2 === 6) { %>
                                PRODUKSI
                              <% } else if (fungsi_dituju2 === 7) { %>
                                SCM
                              <% } else { %>
                                KOSONG
                              <% } %>
  
  
                            </th>
                          </thead>
  
                          <tbody class="text-center">
                            <tr>
                              <td>
                                <!-- ini utk hse sbg status mitra 2 knp 2, karena baru saja ditambah, -->
                                <% if (status_mitra2 === "Belum Diproses") { %>
                                  <button type="button" class="btn btn-sm btn-status-warm custom-tooltip" data-bs-title="Verifikasi : Diproses" data-bs-toggle="tooltip">
                                      <i class="fa-solid fa-spinner fa-spin"></i>
                                  </button>
                                  
                              <% }else if (status_mitra2 === "Diterima") { %>
                                  <button type="button" class="btn btn-sm btn-status-green custom-tooltip" data-bs-title="Verifikasi : Lulus" data-bs-toggle="tooltip">
                                      <i class="fa-solid fa-check"></i>
                                  </button>
                              <% } else if(status_mitra2 === "Ditolak") { %>
                                  <button type="button" class="btn btn-sm btn-status-red custom-tooltip" data-bs-title="Verifikasi : Tidak Lulus" data-bs-toggle="tooltip">
                                    <i class="fa-solid fa-x fa-beat-fade"></i>
                                  </button>
                              <% } %>
                              </td>
  
  
                              <td>
                                <% if (status_mitra === "Belum Diproses") { %>
                                  <button type="button" class="btn btn-sm btn-status-warm custom-tooltip" data-bs-title="Verifikasi : Diproses" data-bs-toggle="tooltip">
                                      <i class="fa-solid fa-spinner fa-spin"></i>
                                  </button>
                                  
                              <% }else if (status_mitra === "Diterima") { %>
                                  <button type="button" class="btn btn-sm btn-status-green custom-tooltip" data-bs-title="Verifikasi : Lulus" data-bs-toggle="tooltip">
                                      <i class="fa-solid fa-check"></i>
                                  </button>
                              <% } else if(status_mitra === "Ditolak") { %>
                                  <button type="button" class="btn btn-sm btn-status-red custom-tooltip" data-bs-title="Verifikasi : Tidak Lulus" data-bs-toggle="tooltip">
                                    <i class="fa-solid fa-x fa-beat-fade"></i>
                                  </button>
                              <% } %>
                              </td>
  
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
  
                    <!-- end card. -->
  
                  </div>

                <div class="form-group col-md-6 mt-3">
                  <label for="name">Penilaian</label>
                  <input type="number" class="form-control" name="nilai_total" value="<%= nilai_total %>" oninput="validateInput(this)" disabled>
                  <div class="form-text">*) Nilai 0-100</div>
                </div>
                
                <div class="form-group col-md-12 mt-3">
                  <label for="name">Keterangan Verifikasi</label>
                  <textarea class="form-control" rows="5" cols="5" name="keterangan_verifikasi" aria-label="With textarea" disabled><%= keterangan_verifikasi %></textarea>
                  <div class="form-text">*) Berikan keterangan jika ada</div>
                </div>
                <!-- <h5 class="card-title">Status Mitra</h5> -->
                            
          </form>
        </div>
      </div>
    </section><!-- End About Us Section -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
            <button type="button" style="color: white;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  
  
          </div>
          <div class="modal-body">
            <!-- Modal Content Goes Here -->
            <p>Apakah anda ingin keluar dari dashboard pertamina ?</p>
          </div>
          <div class="modal-footer">
            <a href="/logout" class="btn btn-primary">Ya</a>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
          </div>
        </div>
      </div>
    </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%-include('partials/footer')%>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- JavaScript to show the modal automatically -->
  <script>
    $(document).ready(function() {
      $('#greetingModal').modal('show');
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var toast = new bootstrap.Toast(document.getElementById('notification-toast'), { delay: 60000 });
      toast.show();

      var countdownElement = document.getElementById('countdown');
      var countdown = 60;

      var countdownInterval = setInterval(function () {
        countdown--;
        countdownElement.textContent = countdown;
        if (countdown <= 0) {
          clearInterval(countdownInterval);
        }
      }, 1000);
    });
  </script>

  <script src="/assets/js/notificationToastr.js"></script>
  <script src="/assets/js/optionLogin.js"></script>


  <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script> -->
  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <!-- <script src="assets/vendor/php-email-form/validate.js"></script> -->

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('.custom-tooltip'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });
  </script>


</body>
</html>